.header {
  /* background-image: linear-gradient(
    to right,
    hsl(64, 76%, 60%),
    #198754,
    #0dcaf0
  ) !important; */
  background-color: rgb(36, 231, 205) !important;

}
header{
  position: sticky;
  top: 0;
}
.nav-items {
  justify-content: flex-end;
  flex: auto;
}

.nav-items > .nav-item {
  color: white;
}
.homey{
  color: white;
}
.slide{
  height: auto;
}
.carousel-item{
  top:0;
  bottom: auto;
}
