.header {
  background-image: linear-gradient(
    to right,
    hsl(64, 76%, 60%),
    #198754,
    #0dcaf0
  ) !important;
}
.nav-items {
  justify-content: flex-end;
  flex: auto;
}

.nav-items > .nav-item {
  color: white;
}
