h1,
a,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  font-size: 14px;
  color: #120f0f;
}